@font-face {
  font-family: FontLight;
  src: url(/testFont/FoundersGrotesk-Light.otf);
}

@font-face {
  font-family: FontRegular;
  src: url(/testFont/FoundersGrotesk-Regular.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

img::selection {
  background: transparent;
}

body {
  background: #fafafa;
  min-height: 100vh;
  background-color: #242423;
  color: #fafafa;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  z-index: 10;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  background: #242423;
}
.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 96vw;
  margin: 0 auto;
}

.events {
  font-size: 23px;
  font-weight: 400;
  font-family: FontLight;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.events:hover {
  opacity: 0.8;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  padding: 3px 0;
}
nav ul li {
  margin-left: 35px;
}

nav ul li a {
  font-family: FontLight;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fafafa;
  font-weight: 300;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  opacity: 0.8;
}

.intro-section {
  margin-bottom: 4vw;
  padding-top: 11vw;
  width: 96vw;
  margin: 0 auto;
}

.intro {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 9vw;
  font-family: 'Cormorant SC', serif;
  font-weight: 300;
  letter-spacing: -0.009em;
}

.subtitle {
  margin-top: -0.5vw;
  font-size: 1.4vw;
  font-family: FontLight;
  line-height: 0.95;
  letter-spacing: -0.02em;
  font-weight: 500 !important;
}
.grid-images {
  width: 96vw;
  margin: 0 auto;
  margin-top: 20px;
  display: grid;
  grid-gap: 30px;
  /* max 4 colums */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  width: 22.5vw;
  position: relative;
  cursor: pointer;
}

.card-image {
  overflow: hidden;
  transition: all;
  height: 500px;
  width: 100%;
}

.card-image img {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  margin-bottom: -7px;
  border-bottom: 2px solid #2a2a2a;
  object-fit: cover;
}

.return-top-button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 10;
  cursor: pointer;
  transition: all 1s ease-in-out;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.7);
  color: #242423;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  opacity: 0;
  pointer-events: none;
}

.return-top-button:hover {
  background: rgba(255, 255, 255, 0.9);
}

.visible {
  opacity: 1;
  pointer-events: all;
}

footer {
  width: 100vw;
  min-height: 200px;
  margin-top: 50px;
  padding: 20px 0;
  border-top: 1px solid #fafafa;
}

.footer-container {
  width: 96vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer-container h1 {
  font-size: 3rem;
  font-family: FontLight;
  font-weight: 600;
  color: #fafafa;
  margin-bottom: 0;
}

.footer-container span {
  margin-top: 10px;
  font-family: FontLight;
  font-size: 18px;
}

/* media for big screens */
@media screen and (min-width: 768px) {
  .grid-images {
    grid-template-columns: repeat(4, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .intro-section {
    padding-top: 20vw;
  }

  .title {
    font-size: 6rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  .grid-images {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .card {
    width: 100%;
  }
  .card-image {
    height: 300px;
  }
  .card-text {
    font-size: 0.8vw;
  }
  .card-description {
    font-size: 0.8vw;
  }
  .card-title {
    font-size: 1.2vw;
  }

  .return-top-button {
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
  }

  .footer-container {
    flex-direction: column;
  }
  .footer-container h1 {
    font-size: 2rem;
  }
  .footer-container span {
    font-size: 1rem;
  }

  .events {
    font-size: 1.5rem;
  }
}

/* responsive for tablet */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .intro-section {
    padding-top: 20vw;
  }

  .title {
    font-size: 6rem;
  }
  .subtitle {
    font-size: 2rem;
  }
  .grid-images {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .card {
    width: 100%;
  }
  .card-image {
    height: 300px;
  }
  .card-text {
    font-size: 0.8vw;
  }
  .card-description {
    font-size: 0.8vw;
  }
  .card-title {
    font-size: 1.2vw;
  }
}

.footer-icons {
  margin-top: 10px;
}

.footer-icons a {
  text-decoration: none;
  color: #fafafa;
  font-size: 1.5rem;
}

.active-img {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.active-img img {
  height: 100%;
}
